body {
    font-family: Comic Sans MS;
    background-image: linear-gradient(#169cad, #016f7e, #06535e, #016f7e, #169cad);
    border-left: 20px double #01383f;
    border-right: 20px double #01383f;

}
article {
    background-color: #A65000;
    padding: 20px;
    border: double 20px #472300;
    color: #160a00;
    padding: 37px;
    width: 500px;
    margin: 34px;
    
}
.article-but {
    background-image: linear-gradient(#36BBCE, #016f7e);
    border-radius: 10px;
    padding: 7px;
    color: #011d20;
    text-decoration: none;
    font-size: 20px;
    border: 5px solid #006874;
    margin: 10px;
}
.article-but:hover {
    box-shadow: 3px 7px 20px rgb(1, 35, 48);
    transition: 0.5s;
    color: white;
}
.article-but:focus {
    border: #005b69 5px solid;
    background-image: linear-gradient(#006874, #016f7e);
}
article img{
    border: double 20px #472300;
}
.smile {
    font-size: 25px;
    text-align: center;
    border: 10px double #753b00;
    border-radius: 10px;
}
.smile:hover {
    transition: 0.5s;
    border: 10px double #472300;
}
header {
    background-color: #A65000;
    padding: 10px;
    border: double 20px #472300;
    color: #160a00;
}
nav a {
    background-image: linear-gradient(#36BBCE, #016f7e);
    border-radius: 10px;
    padding: 7px;
    color: #011d20;
    text-decoration: none;
    font-size: 20px;
    border: 5px solid #006874;
    margin: 10px;
}
nav a:hover {
    box-shadow: 3px 7px 20px rgb(1, 35, 48);
    transition: 0.5s;
    color: white;
}
nav a:focus {
    border: #005b69 5px solid;
    background-image: linear-gradient(#006874, #016f7e);
}
nav {
    text-align: center;
    margin: 20px;
}
.smile1 {
    background-image: linear-gradient(#36BBCE, #016f7e);
    font-size: 25px;
    border: 5px solid #006874;
    text-align: center;
}
.smile1:hover {
    background-image: linear-gradient(#b65f0e, #A65000);
    border: 8px double #472300;
    transition: 0.5s;
}
.info {
    font-size: 25px;
    background-color: #A65000;
    padding: 20px;
    border: double 20px #472300;
    color: #160a00;
    position: relative;
    top: 10px;
}

form {
  margin-bottom: 20px;
}

label, textarea { 
    display: block;
    margin-bottom: 10px;
    background-image: linear-gradient(#36BBCE, #016f7e);
    font-size: 25px;
    border: 5px solid #006874;
    margin: 20px;
}

textarea {
  width: 100%;
  height: 100px;
}
input {
    font-size: 20px;
    background-color: #A65000;
    padding: 10px;
    border: double 10px #472300;
    color: #160a00;
    position: relative;
    top: 10px;
    bottom: 20px;
    left: 50px;
}
.price {
    font-size: 30px;
    text-align: left;
}
textarea {
    text-align: center;
}
.com1 {
    background-image: linear-gradient(#36BBCE, #016f7e);
    font-size: 30px;
    border: 5px solid #006874;
    text-align: center;
}
.com1:hover {
    background-image: linear-gradient(#b65f0e, #A65000);
    border: 8px double #472300;
    transition: 0.5s;
}
.com2 {
    background-color: #A65000;
    font-size: 20px;
    border: double 10px #472300;
    padding: 5px;
}
.com3 {
    background-color: #A65000;
    font-size: 20px;
    border: double 10px #472300;
    padding: 15px 0px 15px 0px;
}
.komentariy1 {
    background-image: linear-gradient(#347580, #0b6672);
    border: 5px solid #023c42;
    margin: 30px;
    border-radius: 30px;
}
footer {
    background-color: #A65000;
    text-align: center;
    border: double 20px #472300;
    color: #160a00;
    height: 100px;
}
footer p {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}
